#list {
  margin: 0 auto;
  width: 654px;
  padding: 20px;
  background: #EEEEEE;
  border-radius: 14px; }
  #list #viewForm {
    margin-left: 90px; }
    #list #viewForm input {
      border-radius: 5px; }
  #list table {
    box-shadow: 2px 2px 2px;
    border-radius: 14px;
    background: #CCCCCC;
    margin-top: 30px;
    border-collapse: collapse; }
    #list table td, #list table th {
      width: 218px;
      text-align: center; }
    #list table th {
      border-bottom: 2px dotted silver; }
